/* Global Styles
--------------------- */
:root {

    --main-bg-color: hsl(217, 54%, 11%);
    --card-bg-color: hsl(216, 50%, 16%);
    --dark-blue-line:  hsl(215, 32%, 27%);
    --white-color: hsl(0, 0%, 100%);
    --primary-color-soft-blue: hsl(215, 51%, 70%);
    --primary-color-cyan: hsl(178, 100%, 50%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Outfit;
}


body {
    padding: 1rem 0;
    background-color: var(--main-bg-color);
}

body p {
    
    font-size: 18px;
    line-height: 1.5;
    color: var(--primary-color-soft-blue);
}

footer {
    margin-top: 1rem;
    text-align: center;
}
/* Main Content
------------------ */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* NFT Card 
------------- */
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-width: 335px;
    background-color: var(--card-bg-color);
    padding: 1.3rem;
    border-radius: 1rem;

}

.equilibrium {
    position: relative;
    display: flex;
}
/* Active state */
.equilibrium:hover .equilibrium-overlay {
    opacity: 1;
}

.equilibrium-overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: hsla(178, 100%, 50%, .5);
    border-radius: .5rem;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: .4s;
}

.equilibrium-img {
    border-radius: .5rem;
    max-width: 100%;
}

.card h2 {
    color: var(--white-color);
    margin: 1rem 0;
    font-weight: 400;
}

/* Active state */
.card h2:hover {
    color: var(--primary-color-cyan);
}

/* Ethereum info */
.ethereum-info {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--dark-blue-line);
}

.ethereum, .time {
    display: flex;
    align-items: center;
}

.ethereum {
    color: var(--primary-color-cyan);
}

.time {
    color: var(--primary-color-soft-blue);
}

.ethereum-info img {
    margin-right: 5px;
}

/* Author info */

.author-info {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.author-info .avatar {
    width: 2rem;
    border: 1px solid var(--white-color);
    border-radius: 50%;
    margin-right: 1rem;

}

.author-name {
    color: var(--white-color);
}

/* Active state */
.author-name:hover {
    color: var(--primary-color-cyan);
}